body {

}

.ui-page 
	{
	min-height: 500px;
	
}

.ui-page-active
	 {
	
	min-height: 500px;
	
	
}

.loginForm {
	width: 320px;
	height: 200px;

}

.getScore
	{
    width: 130px !important;    
    height: 130px !important;   
    background: transparent url('../images/Button_Quiz.png') no-repeat center center !important; 
    background-size: contain !important;
}

.getScore1
	{
    width: 265px !important;    
    height: 170px !important;   
    background: transparent url('../images/Button_Settings.png') no-repeat center center !important; 
    background-size: contain !important;
}


.getScore2
			{
    width: 130px !important;    
    height: 130px !important;   
    background: transparent url('../images/Button_Guestbook.png') no-repeat center center !important; 
    background-size: contain !important;
}

.getScore3
	{
    width: 130px !important;    
    height: 130px !important;   
    background: transparent url('../images/Button_Camera.png') no-repeat center center !important; 
    background-size: contain !important;
}


.getScore4
	{
    width: 130px !important;    
    height: 130px !important;   
    background: transparent url('../images/Button_RSVP.png') no-repeat center center !important; 
    background-size: contain !important;
}


.getScore5
	{
    width: 265px !important;    
    height: 150px !important;   
    background: transparent url('../images/Button_RSVP_View_Invite.png') no-repeat center center !important; 
    background-size: contain !important;
}

.getScore6
	{
    width: 265px !important;    
    height: 150px !important;   
    background: transparent url('../images/Button_RSVP_Couples_Website.png') no-repeat center center !important; 
    background-size: contain !important;
}

.getScore7
	{
    width: 130px !important;    
    height: 130px !important;   
    background: transparent url('../images/Button_RSVP_Static_Map.png') no-repeat center center !important; 
    background-size: contain !important;
}

.getScore8
	{
    width: 130px !important;    
    height: 130px !important;   
    background: transparent url('../images/Button_RSVP_Live_Map.png') no-repeat center center !important; 
    background-size: contain !important;
}

.getScore9
	{
    width: 265px !important;    
    height: 150px !important;   
    background: transparent url('../images/Button_change_photo.png') no-repeat center center !important; 
    background-size: contain !important;
}


.getScore10
	{
    width: 265px !important;    
    height: 130px !important;   
    background: transparent url('../images/Button_settings_2.png') no-repeat center center !important; 
    background-size: contain !important;
}


/*.guestBookui
	{
	background-color:#00FFCC;
	
}

.guestBookUI2
	{
	background-color:#ffffff;
	color:#000000;
	text-decoration:none;
}

*/
.commentLI
	{
	
	width: 200px;
	
}

.commentLI2
	{
	
  	padding:1em;
  	margin:1em;
  	display:inline;
	width: 250px;
	height: 50px;
	background-color:#FFFFCC;
}

.commentLIH
	{
	color:#000000;
	display:block;
	text-decoration:none;
	padding:14px;		
	width: 200px;
	height: 100px;	
}


/****************************************** swatch creatd using jquery themeroller ***********************/

/*-- F --*/
.ui-bar-f {
	border: 1px solid #323232 /*{f-bar-border}*/;
	background: #323232 /*{f-bar-background-color}*/;
	color: #f2f2f2 /*{f-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{f-bar-shadow-x}*/ 0px /*{f-bar-shadow-y}*/ 0 /*{f-bar-shadow-radius}*/ #ffffff /*{f-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #323232 /*{f-bar-background-start}*/), to( #323232 /*{f-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #323232 /*{f-bar-background-start}*/, #323232 /*{f-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #323232 /*{f-bar-background-start}*/, #323232 /*{f-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #323232 /*{f-bar-background-start}*/, #323232 /*{f-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #323232 /*{f-bar-background-start}*/, #323232 /*{f-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #323232 /*{f-bar-background-start}*/, #323232 /*{f-bar-background-end}*/);
}
.ui-bar-f .ui-link-inherit {
	color: #f2f2f2 /*{f-bar-color}*/;
}
.ui-bar-f a.ui-link {
	color: #7cc4e7 /*{f-bar-link-color}*/;
	font-weight: bold;
}
.ui-bar-f a.ui-link:visited {
    color: #2489ce /*{f-bar-link-visited}*/;
}
.ui-bar-f a.ui-link:hover {
	color: #2489ce /*{f-bar-link-hover}*/;
}
.ui-bar-f a.ui-link:active {
	color: #2489ce /*{f-bar-link-active}*/;
}
.ui-bar-f,
.ui-bar-f input,
.ui-bar-f select,
.ui-bar-f textarea,
.ui-bar-f button {
	 font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-f,
.ui-overlay-f {
	border: 1px solid #f2f2f2 /*{f-body-border}*/;
	color: #323232 /*{f-body-color}*/;
	text-shadow: 0 /*{f-body-shadow-x}*/ 0px /*{f-body-shadow-y}*/ 0 /*{f-body-shadow-radius}*/ #ffffff /*{f-body-shadow-color}*/;
	background: #f2f2f2 /*{f-body-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f2f2f2 /*{f-body-background-start}*/), to( #f2f2f2 /*{f-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #f2f2f2 /*{f-body-background-start}*/, #f2f2f2 /*{f-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #f2f2f2 /*{f-body-background-start}*/, #f2f2f2 /*{f-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #f2f2f2 /*{f-body-background-start}*/, #f2f2f2 /*{f-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #f2f2f2 /*{f-body-background-start}*/, #f2f2f2 /*{f-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #f2f2f2 /*{f-body-background-start}*/, #f2f2f2 /*{f-body-background-end}*/);
}
.ui-overlay-f {
	background-image: none;
	border-width: 0;
}
.ui-body-f,
.ui-body-f input,
.ui-body-f select,
.ui-body-f textarea,
.ui-body-f button {
	 font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-f .ui-link-inherit {
	color: #323232 /*{f-body-color}*/;
}
.ui-body-f .ui-link {
	color: #a4b2d3 /*{f-body-link-color}*/;
	font-weight: bold;
}
.ui-body-f .ui-link:visited {
    color: #2489ce /*{f-body-link-visited}*/;
}
.ui-body-f .ui-link:hover {
	color: #2489ce /*{f-body-link-hover}*/;
}
.ui-body-f .ui-link:active {
	color: #2489ce /*{f-body-link-active}*/;
}
.ui-btn-up-f {
	border: 1px solid #cdded3 /*{f-bup-border}*/;
	background: #cdded3 /*{f-bup-background-color}*/;
	font-weight: bold;
	color: #323232 /*{f-bup-color}*/;
	text-shadow: 0 /*{f-bup-shadow-x}*/ 0px /*{f-bup-shadow-y}*/ 0 /*{f-bup-shadow-radius}*/ #ffffff /*{f-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #cdded3 /*{f-bup-background-start}*/), to( #cdded3 /*{f-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #cdded3 /*{f-bup-background-start}*/, #cdded3 /*{f-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #cdded3 /*{f-bup-background-start}*/, #cdded3 /*{f-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #cdded3 /*{f-bup-background-start}*/, #cdded3 /*{f-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #cdded3 /*{f-bup-background-start}*/, #cdded3 /*{f-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #cdded3 /*{f-bup-background-start}*/, #cdded3 /*{f-bup-background-end}*/);
}
.ui-btn-up-f:visited,
.ui-btn-up-f a.ui-link-inherit {
	color: #323232 /*{f-bup-color}*/;
}
.ui-btn-hover-f {
	border: 1px solid #bbbbbb /*{f-bhover-border}*/;
	background: #dfdfdf /*{f-bhover-background-color}*/;
	font-weight: bold;
	color: #323232 /*{f-bhover-color}*/;
	text-shadow: 0 /*{f-bhover-shadow-x}*/ 1px /*{f-bhover-shadow-y}*/ 0 /*{f-bhover-shadow-radius}*/ #ffffff /*{f-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f6f6f6 /*{f-bhover-background-start}*/), to( #e0e0e0 /*{f-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #f6f6f6 /*{f-bhover-background-start}*/, #e0e0e0 /*{f-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #f6f6f6 /*{f-bhover-background-start}*/, #e0e0e0 /*{f-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #f6f6f6 /*{f-bhover-background-start}*/, #e0e0e0 /*{f-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #f6f6f6 /*{f-bhover-background-start}*/, #e0e0e0 /*{f-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #f6f6f6 /*{f-bhover-background-start}*/, #e0e0e0 /*{f-bhover-background-end}*/);
}
.ui-btn-hover-f:visited,
.ui-btn-hover-f:hover,
.ui-btn-hover-f a.ui-link-inherit {
	color: #323232 /*{f-bhover-color}*/;
}
.ui-btn-down-f {
	border: 1px solid #999999 /*{f-bdown-border}*/;
	background: #999999 /*{f-bdown-background-color}*/;
	font-weight: bold;
	color: #2f3e46 /*{f-bdown-color}*/;
	text-shadow: 0 /*{f-bdown-shadow-x}*/ 0px /*{f-bdown-shadow-y}*/ 0 /*{f-bdown-shadow-radius}*/ #ffffff /*{f-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #999999 /*{f-bdown-background-start}*/), to( #999999 /*{f-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #999999 /*{f-bdown-background-start}*/, #999999 /*{f-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #999999 /*{f-bdown-background-start}*/, #999999 /*{f-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #999999 /*{f-bdown-background-start}*/, #999999 /*{f-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #999999 /*{f-bdown-background-start}*/, #999999 /*{f-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #999999 /*{f-bdown-background-start}*/, #999999 /*{f-bdown-background-end}*/);
}
.ui-btn-down-f:visited,
.ui-btn-down-f:hover,
.ui-btn-down-f a.ui-link-inherit {
	color: #2f3e46 /*{f-bdown-color}*/;
}
.ui-btn-up-f,
.ui-btn-hover-f,
.ui-btn-down-f {
	 font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}










